<% if voted_up?(link) %>
  <div class="arrow upvoted"></div>
  <h2 class="score green"> <%= link.score %> </h2>
  <div class="noarrow"></div>
<% else %>
  <div class="noarrow"></div>
  <h2 class="score red"> <%= link.score %> </h2>
  <div class="arrow downvoted"></div>
<% end %>

